{% extends 'base.html' %}

{% load bootstrap  %}

{% block title %} Clientes {% endblock %}


{% block main %}

    <ul class="list-group">
        {% for Person in person  %}

            <li class=" list-group-item">

                    <a href="{% url 'persons_update' Person.id %}"> {{ Person.first_name }} </a>
                    <a href="{% url 'persons_delete' Person.id %}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>

            </li>

        {% endfor %}

    </ul>

    <br>
    <a href="{% url 'persons_new' %}"class="btn btn-primary"> Novo Cliente </a>
    <a href="{% url 'home' %}"class="btn btn-light"> Voltar </a>
    {% endblock %}


